<nav class="navbar" id = "headerLeft">
	
	<div class="navbar-header">
		<a class="navbar-brand" href="/">Beautiful Shelter</a>
	</div>
	<div class = "navLinksDiv">
		<a class="nav-link" href="/pets">Pets</a>
		<a class="nav-link" href="/blogs">Blogs</a>
		<a class="nav-link" href="/about">About</a>
		<a class="nav-link" href="/contact">Contact</a>			
	</div>
</nav>