html, body {
    height: 100%;
    background-color: #eff3f0;
    overflow: hidden;
    font-family: 'Nunito', sans-serif;
    color: #383838;
  }


h2 {
    font-family: 'Nova Round', cursive;
    font-size: 1.6em;
    color: #209e7b;
    margin-bottom: 24px;
}

h3 {
    font-family: 'Nova Round', cursive;
    font-size: 1.3em;
    margin-bottom: 12px;
    color: #209e7b;
}

p {
    line-height: 20px;
}

header {
    width: 100%;
    position: fixed;
    z-index: 99;
    left: 0;
    top: 0;
    display: flex;
    justify-content: space-between;
    background-color: white;
    padding: 10px;
    border-bottom: 2px #f1d1b9 solid;
}

main {
    background-color: white;
    margin: 100px 0;
    padding: 1em; 
    width: 100%;
    height: 475px;
    box-sizing: border-box;
}

footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 50px;
    line-height: 50px;
    background-color: white;
    border-top: 2px #f1d1b9 solid;
    font-family: 'Raleway', sans-serif;
    font-size: .85em;
    color: #9e98a4;
    font-weight: bold;
}

/* nav - start */
.header-wrapper {
    display: flex;
    justify-content: space-between;
}

.navbar {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.accountLogInDiv {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    font-family: 'Raleway', sans-serif;
    padding-right: 10px;
}

.navLinksDiv {
    margin-left: 1em;
    width: 33%;
    display: flex;
    justify-content: space-between;

}

.navbar-brand {
    width: 33%;
    font-family: 'Berkshire Swash', cursive;
    color: #209e7b;
    font-size: 2.25em;
    text-decoration: none;
}

.navbar-brand:hover {
    color: #209e7b;
}

.nav-link {
    font-family: 'Raleway', sans-serif;
    font-size: 1em;
    color: #9e98a4;
    font-weight: bold;
    text-decoration: none;
}

.nav-link:hover {
    color: #f1d1b9;
}
.btn-outline-success {
    color: #209e7b;
    background-color: white;
    border-color: #209e7b; 
}
.btn-outline-success:hover, 
.btn-outline-success:focus, 
.btn-outline-success:active, 
.btn-outline-success.active, .open>.dropdown-toggle.btn-outline-success {
    color: white !important;
    background-color: #209e7b !important;
    border-color: white !important;
    box-shadow: none !important; 
}

.loginLinks {
    display: flex;
    align-items: center;
}

.loginLinks * {
    margin-left: 16px;
}

/* nav - end */

.homeDivs {
    display: flex;
    justify-content: space-between;
    font-family: 'Nunito', sans-serif;
    color: #383838;
}

.homeDivs p {
    font-size: .95em;
}

h2 {
    font-family: 'Nova Round', cursive;
    font-size: 1.75em;
}

span {
    font-family: 'Nunito', sans-serif;
    color: #383838;
}

.homeLeft {
    width: 65%;
    padding: .5em 0;
}

.homeLeft h2,
.petDetailTitle, 
.about2,
.contactDiv h2{
    color: #ec9191;
}

.homeRight {
    width: 35%;
    height: 445px;
    display: flex;
    justify-content: center;
    background-color: #fde9de;
    padding: .5em;
}

.homeRight h2,
#about1 {
    color: #209e7b;
}

/* homepage blog - start */

#newsEntry {
    margin-top: 10px;
    height: 380px;
    overflow: scroll;
    overflow-x: hidden;
}

.blog {
    border: .5px #f1d1b9 solid;
    padding: 10px;
    background-color: rgba(255, 255, 255, 0.7);
    line-height: 1.15em;
    border-radius: 15px;
}

.blog > h4 {
    font-weight: bold;
    font-size: 1.15em;
}

.blog > h5 {
    font-size: .75em;
}

.blog_content {
    line-height: 1.15em;
    margin-top: 4px;
}
/* homepage blog - end */

/* animal cards - start */
.animalCards{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: flex-start;
    height: 390px;
    overflow: scroll;
    overflow-x: hidden;
}

.card-title {
    font-weight: bold;
}

#petsPreview {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 25px;
}

.card:hover {
    box-shadow: 5px 10px #cccccc;
    cursor: pointer;
}


#petsPreview .card {
    width: 9rem;
    border: 1px #9e9e9e solid;
    margin-top: 10px;
}

.animalCards .card {
    width: 12rem;
    border: 2px #9e9e9e solid;
    margin-top: 10px;
}
/* animal cards - end */

/* pets page - start */
.nav-tabs {
    font-family: 'Nova Round', cursive;
    font-size: 1.25em;
}

.nav-tabs a {
    margin-right: 10px;
    text-decoration: none;
    color: #ec9191;
}

.nav-tabs a:hover {
    color: #209e7b;
}
/* pets page - end */

/* pet detail - start */

.petDetailDiv {
    display: flex;  
    justify-content: space-around;
}

.petDetailTitle {
    margin-top: 15px;
}

.petDetailLeft {
    width: 65%;
    padding: .5em ;
}

#petInfo {
    line-height: 1.5em;
    margin-top: 20px;
}



#apply_info {
    width: 400px;
    height:200px;
}

.petDetailRight {
    width: 30%;
    padding: .5em;
    display: flex;
    justify-content: center;
    background-color: #209e7b;
}

.petImg{
    width: 18rem;
    height: 100%;
}

.boldText {
    font-weight: bold;
}
/* pet detail - end */

/* about - start */
.about,
.contactDiv {
    line-height: 1.5em;
    padding: 2em;
    border: .5px #f1d1b9 solid;
    height: 445px;
}
/* about - end */

/* contact page - start */
.contactDiv {
    display: flex;  

    justify-content: space-around;
}

.contactInfo {
    line-height: 1.5em;
    margin-top: 20px;
}

.mapImg {
    width: 30rem;
    height: 100%;
}

.contactLeft{
    width: 49%;
    padding: .5em ;
}
.contactRight {
    width: 49%;
    padding: .5em;
}
/* contact page - end */

/* My account page */
#myaccount div {
    height: 390px;
    overflow: scroll;
    overflow-x: hidden;
}

#news-blogs {
    height: 390px;
    overflow: scroll;
    overflow-x: hidden;
}

label {
    display: block;
}

input, textarea {
    box-sizing: border-box;
    margin: 8px 0 24px;
    width: 400px;
    border: 1px solid #ccc;
}

input[type="text"] {
    padding: 8px;
}

.btn-primary{
    display: block;
    background-color: #209e7b;
    border: none;
}

#login > div {
    margin-bottom: 24px;
}

/* Details page */
/* #pet-details:after {
    content: '';
    display: block;
    clear: both;
}

.detail-label {
    color: #209e7b;
    font-weight: 700;
    margin-right: 10px;
}

#pet-details p {
    margin-bottom: 8px;
}

#pet-details img {
    float: left;
    margin-right: 32px;
} */