<!DOCTYPE html>
<html lang="en">
<head>
	<% include ../partials/head %>
</head>
<body class="container">

	<header>
		<% include ../partials/header %>
		<% include ../partials/accountLogIn %>
	</header>

	<main>

		<div class="about">
			<h2 id="about1">Beautiful Shelter has been saving lives of homeless pets since 2017.</h2>
			<br>

			<h2 class="about2">History</h2>
			<p>Beautiful Shelter was founded in 2017 by a small group of volunteers dedicated to raising funds for the medical care for the animals at the Alameda Animal Shelter. In 2018, the volunteer group expanded to launch a “Save Our Shelter” campaign when city budget cuts were forcing the closure of the shelter. After several months of discussions with city officials, Beautiful Shelter took over the management of the Alameda Shelter on January 1, 2018. The group expanded again and there are now 2 full- and part-time staff and more than 10 volunteers providing daily care to the more than 60 animals at the shelter. Beautiful Shelter is governed by a Board of Directors composed of individuals who either live or work in Alameda.</p>
			<br>
			
			<h2 class="about2">Mission</h2>
			<p>Our mission is to provide a no-kill shelter for the care, humane treatment, and adoption of lost, stray, and abandoned animals and to find permanent, loving homes for homeless animals and promote responsible pet ownership through education, community outreach, and collaboration while maintaining respect and compassion for all creatures.</p>

		</div>
	</main>

	<footer>
		<% include ../partials/footer %>
	</footer>
	
</body>
</html>