<!DOCTYPE html>
<html lang="en">
<head>
	<% include ../partials/head %>
</head>
<body class="container">

	<header>
		<% include ../partials/header %>
	</header>

	<main>
	<div id="about">
    <h3>Beautiful Shelter has been saving lives of homeless pets since 2017.</h3>

    <h3>Our Mission</h3>
    <p>Our mission is to provide a no-kill shelter for the care, humane treatment, and adoption of lost, stray, and abandoned animals and to find permanent, loving homes for homeless animals and promote responsible pet ownership through education, community outreach, and collaboration while maintaining respect and compassion for all creatures.</p>
</div>
	</main>

	<footer>
		<% include ../partials/footer %>
	</footer>
	
</body>
</html>