<!DOCTYPE html>
<html lang="en">
<head>
	<% include ../partials/head %>
</head>
<body class="container">

	<header>
		<div class="container header-wrapper">
			<% include ../partials/header %>
		</div>
	</header>

	<main>
        <h3>
        Thank you, we will contact you later!             
        </h3>

	</main>

	<footer>
		<% include ../partials/footer %>
	</footer>
	
</body>
</html>