<!DOCTYPE html>
<html lang="en">
<head>
	<% include ../partials/head %>
</head>
<body class="container">

	<header>
		<% include ../partials/header %>
		<% include ../partials/accountLogIn %>
	</header>

	<main>


	</main>

	<footer>
		<% include ../partials/footer %>
	</footer>

	<!-- jquery and bootstrap js scripts -->
	<% include ../partials/jqueryBootstrapScripts %>
	
</body>
</html>