<!DOCTYPE html>
<html lang="en">
<head>
	<% include ../partials/head %>
</head>
<body class="container">

	<header>
		<% include ../partials/header %>
	</header>

	<main>
		<% include ../partials/animalMenu %>

		<div id = "animalListing">
			<section class="animalCards">

			</section>
		</div>
		
	</main>

	<footer>
		<% include ../partials/footer %>
	</footer>
	
	<!-- jquery and bootstrap js scripts-->
	<% include ../partials/jqueryBootstrapScripts %>
	
	<script type="text/javascript">
        $.ajax({
            url: '/api/cats',
            method: 'GET'
        }).then(function(data){
            var articleCard, divCardBody, cardImg, cardTitle, cardText, btn; 
            for (var i=0; i<data.length; i++){
                ob = data[i];
                articleCard = $('<article>').addClass("card");
                cardImg = $('<img>').addClass("card-img-top");
                cardImg.attr('src', ob.img_url);
                divCardBody = $('<div>').addClass("card-body");
                cardTitle = $('<h3>').addClass("card-title");
                cardTitle.text(ob.pet_name);
                cardText = $('<p>').addClass("card-text");
                cardText.text(ob.age + " years old, "+ ob.sex);
                btn = $('<a>').addClass("btn btn-outline-success btn-sm");
                btn.attr('href', ob.id);
                btn.text("Learn more details!");

                divCardBody.append(cardTitle, cardText, btn);
                articleCard.append(cardImg, divCardBody); 
                $('.animalCards').append(articleCard);
            }
        });
	</script>
</body>
</html>