<!DOCTYPE html>
<html lang="en">
<head>
	<% include ../partials/head %>
</head>
<body class="container">

	<header>
		<% include ../partials/header %>
	</header>

	<main>
	 
		<div>
			<% if(user) { %>
			<p>Welcome! <%= user %></p>
			<a href="/myaccount">My account</a>
			<a href="/logout">Log out</a>
			<% }else{ %>
			<a href="/login">Sign in</a>
			<a href="/signup">Sign up</a>
			<% } %>
		</div>
		
		<div>
			<h3>Contact Info</h3>
				<ul>
					<li>Front Desk 123-456-7890</li>
					<li>General information info@beautifulshelter.org</li>
					<li>Fax Number 123-654-0987</li>
				</ul>
		
			<h3>Hours</h3>
				<ul>
					<h5>Adoption Center: </h5>
					<li>Wednesday 11-7 </li>
					<li>Thursday–Sunday 11-5 </li>
					<li>Closed Mondays &amp; Tuesdays </li>
					<h5>All Other Services: </h5>
					<li>Open every day. </li>
				</ul>
					
		</div>

	</main>

	<footer>
		<% include ../partials/footer %>
	</footer>
	
</body>
</html>