<!DOCTYPE html>
<html lang="en">
<head>
	<% include ../partials/head %>
</head>
<body class="container">

	<header>
		<% include ../partials/header %>
		<% include ../partials/accountLogIn %>
	</header>

	<main>
		<div class="contactDiv">
			<div class="contactLeft">
				<div class="contactInfo">
					<h2>Contact Info</h2>
	
					<span class="boldText"> Phone Number:</span> <span class="factText"> 415-555-6897 </span><br>
					<span class="boldText"> Fax Number:</span> <span class="factText"> 415-555-6899 </span><br>
					<span class="boldText"> Email:</span> <span class="factText"> info@beautifulshelter.org </span><br><br>
	
					<h2>Hours</h2>
	
					<span class="boldText">Adoption Center: </span> <br> 
					<span class="factText"> Wednesday–Sunday 11:00AM - 5:00PM </span><br>
					<span> Closed Mondays &amp; Tuesdays</span> <br><br>
	
					<span class="boldText">All Other Services:  </span><br>
					<span class="factText"> Open Every Day 10:00AM - 5:30PM </span>
	
				</div>
			</div>
			
			<div class="contactRight">
				<div class="mapDiv">
					<img class="mapImg" src="../assets/images/google-map.png" alt="">
				</div>
			</div>
			
		</div>
		

	</main>

	<footer>
		<% include ../partials/footer %>
	</footer>

	<!-- jquery and bootstrap js scripts -->
	<% include ../partials/jqueryBootstrapScripts %>
	
</body>
</html>