<!DOCTYPE html>
<html lang="en">
<head>
	<% include ../partials/head %>
</head>
<body class="container">

	<header>
		<% include ../partials/header %>
	</header>

	<main id="homepage">

		<div id="pet"></div>
		<div id="news"></div>

	</main>

	<footer>
		<% include ../partials/footer %>
	</footer>

	<script
  src="https://code.jquery.com/jquery-3.3.1.min.js"
  integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
  crossorigin="anonymous"></script>
<script>

var call1 =  $.ajax('/content');
var call2 =  $.ajax('/content/blog');

$.when(call1, call2).then(function (data1, data2) {
	//console.log(data1[0], data2[0])
	var p, img, ob, ob2, t, content, wrapper, blogwrapper, form, button, a;
		
	for (var i=data1[0].length -1; i>=0; i--){
		ob = data1[0][i];
		p = $('<div>');
        p.text(ob.pet_name);
        img = $("<img>");
		img.attr("src", ob.img_url);
		wrapper = $("<div class='animal'>");
		wrapper.append(p, img)
        $('#pet').append(wrapper);
	}
    for (var j=data2[0].length -1; j>=0; j--){
		ob2 = data2[0][j];
		t = $('<div>');
        t.text(ob2.title);
        content = $("<div>");
		content.text(ob2.shelter_post);
		blogwrapper = $("<div class='blog'>");
		blogwrapper.append(t, content);
        $('#news').append(blogwrapper);
	}
});
// promise.done(function() {
//   console.log("This will run if this Promise is resolved.");
// });
 
// promise.fail(function() {
//   console.log("This will run if this Promise is rejected.");
// });
// $.ajax({
// 	url: '/content',
// 	method: 'GET'
// }).then(function(data){

// 	var p, img, ob, form, button, a;
		
// 	for (var i=data.length -1; i>=0; i--){
// 		ob = data[i];
// 		p = $('<div>');
//         p.text(ob.pet_name);
//         img = $("<img>");
// 		img.attr("src", ob.img_url);
// 		wrapper = $("<div class='animal'>");
// 		wrapper.append(p, img)
//         $('#pet').append(wrapper);
// 	}

// })

// $.ajax({
// 	url: '/content/blog',
// 	method: 'GET'
// }).then(function(data){

// 	var t, content, ob, form, button, a;
		
// 	for (var i=data.length -1; i>=0; i--){
// 		ob = data[i];
// 		t = $('<div>');
//         t.text(ob.title);
//         content = $("<div>");
// 		content.text(ob.shelter_post);
// 		blogwrapper = $("<div class='blog'>");
// 		wrapper.append(t, content)
//         $('#news').append(blogwrapper);
// 	}

// })
</script>
</body>
</html>