<!DOCTYPE html>
<html lang="en">
<head>
	<% include ../partials/head %>
</head>
<body class="container">

	<header>
		<% include ../partials/header %>
		<% include ../partials/accountLogIn %>
	</header>
	

	<main id = "homepage">
		<div class = "homeDivs">
			<div class = "homeLeft">
				<div id="featuredPets">
					<h2>Featured Pets</h2>
					<div id="petsPreview"></div>
				</div>
			</div>
			<div class = "homeRight">
				<div id="news">
					<h2>Shelter News!</h2>
					<div id="newsEntry"></div>
				</div>
			</div>
		</div>
    
	</main>

	<footer>
		<% include ../partials/footer %>
	</footer>

	<!-- jquery and bootstrap js scripts -->
	<% include ../partials/jqueryBootstrapScripts %>

	<script type="text/javascript">

		var call1 =  $.ajax('/content');
		var call2 =  $.ajax('/content/blog');

		$.when(call1, call2).then(function (data1, data2) {
			
			var ob, ob2, homeDivCard, homeDivCardBody, homeCardImg, homeCardTitle, homeCardText, homeCardBtn, blogTitle, blogTime, blogContent, blogDiv;
				
			for (var i=0; i<data1[0].length; i+=5){
				ob = data1[0][i];
				homeDivCard = $('<div>').addClass("card");
				homeDivCard.attr("data-name", ob.pet_name);
				homeCardImg = $('<img>').addClass("card-img-top");
				homeCardImg.attr('src', ob.img_url);
				homeDivCardBody = $('<div>').addClass("card-body");
				homeCardTitle = $('<h4>').addClass("card-title");
				homeCardTitle.text(ob.pet_name + " - " + "ID#" + ob.id );
				homeCardText = $('<p>').addClass("card-text");
				homeCardText.text(ob.age + " years old, "+ ob.sex);

				homeDivCardBody.append(homeCardTitle, homeCardText);
				homeDivCard.append(homeCardImg, homeDivCardBody); 
				$('#petsPreview').append(homeDivCard);
			}
			for (var j=data2[0].length -1; j>=0; j--){
				ob2 = data2[0][j];
				blogTitle = $('<h4>');
				blogTitle.text(ob2.title);
				blogTime = $('<h5>');
				blogTime.text(ob2.post_time.slice(0, 10));
				blogContent = $('<div>').addClass("blog_content");
				blogContent.text(ob2.shelter_post);
				blogDiv = $('<div>').addClass("blog");

				blogDiv.append(blogTitle, blogTime, blogContent);
				$('#newsEntry').append(blogDiv);
			}

			$('.card').on('click', function(){
				var ClickOne = $(this);
				var detail = ClickOne.attr("data-name");
				//console.log(detail);
				window.location = "/pet_detail/" + detail;
			});
		});
	</script>
</body>
</html>