<!DOCTYPE html>
<html lang="en">
<head>
	<% include ../partials/head %>
</head>
<body class="container">

	<header>
		<div class="container header-wrapper">
			<% include ../partials/header %>
			<% include ../partials/accountLogIn %>
		</div>
	</header>
	

	<main id = "homepage">
		<div class = "homeDivs">
			<div class = "homeLeft">
				<div id="featuredPets">
					<h3>Featured Pets</h3>
					<div id = "petsPreview"></div>
				</div>
			</div>
			<div class = "homeRight">
				<div id="news">
					<h3>Shelter News!</h3>
					<div id="newsEntry"></div>
				</div>
			</div>
		</div>
    
	</main>

	<footer>
		<% include ../partials/footer %>
	</footer>

	<!-- jquery and bootstrap js scripts -->
	<% include ../partials/jqueryBootstrapScripts %>

	<script type="text/javascript">

		var call1 =  $.ajax('/content');
		var call2 =  $.ajax('/content/blog');

		$.when(call1, call2).then(function (data1, data2) {
			// var p, img, ob, ob2, t, d, content, wrapper, blogwrapper, form, button, a;
			
			var ob, homeArticleCard, homeDivCardBody, homeCardImg, homeCardTitle, homeCardText, homeCardBtn;
				
			for (var i=0; i<data1[0].length; i+=5){
				ob = data1[0][i];
				homeArticleCard = $('<article>').addClass("homeAnimalCard");
				homeArticleCard.attr("data-name", ob.pet_name);
				homeArticleCard.attr("type", "button");
				homeCardImg = $('<img>').addClass("card-img-top");
				homeCardImg.attr('src', ob.img_url);
				homeDivCardBody = $('<div>').addClass("card-body");
				homeCardTitle = $('<h4>').addClass("card-title");
				homeCardTitle.text("ID#" + ob.id +" " + ob.pet_name);
				homeCardText = $('<p>').addClass("card-text");
				homeCardText.text(ob.age + " years old, "+ ob.sex);

				homeDivCardBody.append(homeCardTitle, homeCardText);
				homeArticleCard.append(homeCardImg, homeDivCardBody); 
				$('#petsPreview').append(homeArticleCard);
			}
			for (var j=data2[0].length -1; j>=0; j--){
				ob2 = data2[0][j];
				t = $('<h4>');
				t.text(ob2.title);
				d = $('<h5>');
				pTime = ob2.post_time;
				pTime = pTime.slice(0,10);
				d.text(pTime);
				content = $("<div class='blog_content'>");
				content.text(ob2.shelter_post);
				blogwrapper = $("<div class='blog'>");
				blogwrapper.append(t, d, content);
				$('#newsEntry').append(blogwrapper);
			}
			$('.homeAnimalCard').on('click', function(){
				var ClickOne = $(this);
				var detail = ClickOne.attr("data-name");
				//console.log(detail);
				window.location = "/pet_detail/" + detail;
			});
		});
	</script>
</body>
</html>