<!DOCTYPE html>
<html lang="en">
<head>
	<% include ../partials/head %>
</head>
<body class="container">

	<header>
		<div class="container header-wrapper">
			<% include ../partials/header %>
		
		</div>
	</header>

	<main id="login">
	    <h2>Please Sign in or <a href="/signup">Sign up</a>.</h2>
		<form method="POST" action="/userlogin">
			<label>Your email: </label>
			<input type="text" name="email">
			<label>Password: </label>
			<input type="password" name="pswd">
			<button class="btn btn-primary">Submit</button>               
		</form>
	</main>

	<footer>
		<% include ../partials/footer %>
	</footer>
	
</body>
</html>






