<!DOCTYPE html>
<html lang="en">
<head>
	<% include ../partials/head %>
</head>
<body class="container">

	<header>
		<% include ../partials/header %>
	</header>

	<main>
	    <div>Please Sign in or <a href="/signup">Sing up</a>.</div>
        <div>
        <form method="POST" action="/userlogin">
        <span>Your email: </span><input type="text" name="email"><br>
        <span>Password: </span><input type="password" name="pswd"><br>
        <button>Submit</button>               
        </div>
	</main>

	<footer>
		<% include ../partials/footer %>
	</footer>
	
</body>
</html>






