<!DOCTYPE html>
<html lang="en">
<head>
        <% include ../partials/head %>
</head>
<body class="container">

        <header>
                <div class="container header-wrapper">
                        <% include ../partials/header %>
                        <% include ../partials/accountLogIn %>
                </div>
        </header>

        <main id="myaccount">
                <div>
                        <% if(user) { %>
                        <h3>Hello! <%= user %> !</h3> 
                        <h3>Your email is: <%= email %></h3><br><br>
                        <p>If you decide to adopt a pet from us, please fill out the infomation and we will contact you later. Thank you!</p><br><br>
                        <form name="applyForm" onsubmit="return validateApplyForm()" action="/apply_adopt" method="POST">
                        <label for="email">Confirm your email: </label><input id="email" type="text" name="apply_email"><br>
                        <label for="apply_info">Tell us about you:</label>
                        <textarea name="apply_info" id="apply_info" type="text"></textarea>
                        <br>
                        <label for="apply_pet_id">Which pet do you want to apply for adoption? Please enter ID only:</label>
                        <input name="apply_pet_id" type="text" id="apply_pet_id">
                        
                        <button class="btn btn-primary">Submit</button>
                        </form>
                        <% }else{ %>
                        <a href="/login">Sign in</a>
                        <a href="/signup">Sign up</a>
                        <% } %>
                </div>
        </main>

        <!-- jquery and bootstrap js scripts -->
        <% include ../partials/jqueryBootstrapScripts %>

        <footer>
                <% include ../partials/footer %>
        </footer>
        
        <script>
                function validateApplyForm() {
                        var email = document.forms["applyForm"]["email"].value;
                        var info = document.forms["applyForm"]["apply_info"].value;
                        var applyId = document.forms["applyForm"]["apply_pet_id"].value;
                        if (email == "" ) {
                        alert("All field must be filled out");
                        return false;
                        }
                        if (info == "" ) {
                        alert("All field must be filled out");
                        return false;
                        }
                        if (applyId == "" ) {
                        alert("All field must be filled out");
                        return false;
                        }
                        return true;
                }
        </script>

</body>
</html>






















