<!DOCTYPE html>
<html lang="en">
<head>
	<% include ../partials/head %>
</head>
<body class="container">

	<header>
		<% include ../partials/header %>
		<% include ../partials/accountLogIn %>
	</header>
	


	<main>
		<div id="tab" class="container">	
			<ul class="nav nav-tabs">
				<li class="active">
					<a  href="#dog" data-toggle="tab" id="dogp">Dog</a>
				</li>
				<li>
					<a href="#cat" data-toggle="tab" id="catp">Cat</a>
				</li>
				<li>
					<a href="#other" data-toggle="tab" id="otherp">Other</a>
				</li>
				<li>
					<a href="#adopted" data-toggle="tab" id="adoptedp">Adopted</a>
				</li>
			</ul>

			<!-- <div class="tab-content ">
				<div class="tab-pane active" id="dog">
				</div>
				<div class="tab-pane" id="cat">
				</div>
				<div class="tab-pane" id="other">
				</div>
				<div class="tab-pane" id="adopted">
				</div>
			</div> -->
			<div class="tab-content">
				<div class="tab-pane active" id="dog">
					<section class="animalCards" id="dogCards"></section>
				</div>
				<div class="tab-pane" id="cat">
					<section class="animalCards" id="catCards"></section>
				</div>
				<div class="tab-pane" id="other">
					<section class="animalCards" id="otherCards"></section>
				</div>
				<div class="tab-pane" id="adopted">
					<section class="animalCards" id="adoptedCards"></section>
				</div>
			</div>
		</div>
		
	</main>

	<footer>
		<% include ../partials/footer %>
	</footer>
	


	<!-- jquery and bootstrap js scripts -->
	<% include ../partials/jqueryBootstrapScripts %>
	<script>

		var call1 = $.ajax('/pets/dog');
		var call2 = $.ajax('/pets/cat');
		var call3 = $.ajax('/pets/other');
		var call4 = $.ajax('/pets/adopted');

		$.when(call1, call2, call3, call4).then(function (data1, data2, data3, data4) {
			// var p, img, img2, img3, img4, ob, ob2, ob3, ob4, t, d, s, a, content, wrapper, blogwrapper, adoptedWrapper, otherWrapper, catWrapper, form, button, a;
			var articleCard, divCardBody, cardImg, cardTitle, cardText;
				
			for (var i=data1[0].length -1; i>=0; i--){
				ob = data1[0][i];
				articleCard = $('<article>').addClass("card");
				articleCard.attr("data-name", ob.pet_name);
				cardImg = $('<img>').addClass("card-img-top");
				cardImg.attr('src', ob.img_url);
				divCardBody = $('<div>').addClass("card-body");
				cardTitle = $('<h3>').addClass("card-title");
				cardTitle.text(ob.pet_name);
				cardText = $('<p>').addClass("card-text");
				cardText.text(ob.age + " years old, "+ ob.sex);
				divCardBody.append(cardTitle, cardText);
				articleCard.append(cardImg, divCardBody); 
				$('#dogCards').append(articleCard);

			}
			for (var j=data2[0].length -1; j>=0; j--){
				ob2 = data2[0][j];
				articleCard = $('<article>').addClass("card");
				articleCard.attr("data-name", ob2.pet_name);
				cardImg = $('<img>').addClass("card-img-top");
				cardImg.attr('src', ob2.img_url);
				divCardBody = $('<div>').addClass("card-body");
				cardTitle = $('<h3>').addClass("card-title");
				cardTitle.text(ob2.pet_name);
				cardText = $('<p>').addClass("card-text");
				cardText.text(ob2.age + " years old, "+ ob2.sex);
				divCardBody.append(cardTitle, cardText);
				articleCard.append(cardImg, divCardBody); 
				$('#catCards').append(articleCard);
			}
			for (var k=data3[0].length -1; k>=0; k--){
				ob3 = data3[0][k];
				articleCard = $('<article>').addClass("card");
				articleCard.attr("data-name", ob3.pet_name);
				cardImg = $('<img>').addClass("card-img-top");
				cardImg.attr('src', ob3.img_url);
				divCardBody = $('<div>').addClass("card-body");
				cardTitle = $('<h3>').addClass("card-title");
				cardTitle.text(ob3.pet_name);
				cardText = $('<p>').addClass("card-text");
				cardText.text(ob3.age + " years old, "+ ob3.sex);
				divCardBody.append(cardTitle, cardText);
				articleCard.append(cardImg, divCardBody); 
				$('#otherCards').append(articleCard);
			}
			for (var l=data4[0].length -1; l>=0; l--){
				ob4 = data4[0][l];
				articleCard = $('<article>').addClass("card");
				articleCard.attr("data-name", ob4.pet_name);
				cardImg = $('<img>').addClass("card-img-top");
				cardImg.attr('src', ob4.img_url);
				divCardBody = $('<div>').addClass("card-body");
				cardTitle = $('<h3>').addClass("card-title");
				cardTitle.text(ob4.pet_name);
				cardText = $('<p>').addClass("card-text");
				cardText.text(ob4.age + " years old, "+ ob4.sex);
				divCardBody.append(cardTitle, cardText);
				articleCard.append(cardImg, divCardBody); 
				$('#adoptedCards').append(articleCard);
			}

			$('.card').on('click', function(){
				var ClickOne = $(this);
				var detail = ClickOne.attr("data-name");
				//console.log(detail);
				window.location = "/pet_detail/" + detail;
			});
		});

	</script>
		
</body>
</html>